# Dependencies
node_modules/
cineverse/node_modules/

# Next.js build outputs
.next/
cineverse/.next/
out/
cineverse/out/

# Environment variables
.env*.local
cineverse/.env*.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
